{% extends "base.html.twig" %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}

    <h1>{{'Rajout activite' |trans}}</h1>
    {{ form_start(registrationForm)}}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.type) }}
        {{ form_row(registrationForm.lieux) }}
        {{ form_row(registrationForm.date) }}
        {{ form_row(registrationForm.description) }}
        <button type="submit" class="btn">{{'Envoyer' |trans}}</button>
    {{ form_end(registrationForm) }}

{% endblock %}