{% extends 'base.html.twig' %}

{% block title %}Liste article{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{form_start(form)}}
                <div class="form-row">
                    <div class="col">
                        {{form_row(form.lieux)}}
                    </div>
                    <div class="col">
                        {{form_row(form.date)}}
                    </div>
                    <div class="col">
                        {{form_row(form.type)}}
                    </div>
                    <div class="col">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>
                    
                </div>
            {{form_end(form)}}
        </div>
    </div>
    <div class="container mt-4">
        <h1> {{'Liste articles' |trans}}</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{'Nom'|trans}}</th>
                <th scope="col">{{'Lieux'|trans}}</th>
                <th scope="col">{{'Description'|trans}}</th>
                <th scope="col">{{'Type Activite'|trans}}</th>
                <th scope="col">{{''|trans}}</th>
                <th scope="col">{{''|trans}}</th>
            </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{event.nom}}</td>
                        <td>{{event.lieux}}</td>
                        <td>{{event.description}}</td>
                        <td>{{event.type}}</td>
                        <td><a href="{{ path('creerComment', {'id': event.id}) }}" class="navbar-brand">{{ 'Ajouter Commentaire' |trans }}</a><td>
                        <td><a href="{{ path('afficherComment', {'id': event.id}) }}" class="navbar-brand">{{ 'Afficher Commentaire' |trans }}</a><td>
                    </tr>
                {% endfor %}
                {{knp_pagination_render(events)}}
            </tbody>
        </table>
    </div>
{% endblock %}


