{% extends 'base.html.twig' %}

{% block title %}Activigo{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    <h1>{{'Quel sera votre prochain terrain de jeu ?' |trans }}</h1>
    <h2>{{'Réservez parmi une mutlitude d\'activités partout en france' |trans }}</h2>
    <h2>{{'FAIRE LES CRUD GIGA BG T ES TROP BEAU OUBLIE PAS' |trans }}</h2>
</div>

<div>
    <h3>{{'Nos activités' |trans }}</h3>
    <p>{{'Laissez vous tenter par nos proposition' |trans }}<p>
    <p>{{'//Mettre exemple d\'activité\\' |trans }}<p>
</div>
{% endblock %}
