{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>{{'Liste des utilisateurs' |trans}}</h1>
    <table>
        <thead>
            <th>{{'ID'|trans}}</th>
            <th>{{'Email'|trans}}</th>
            <th>{{'Rôles'|trans}}</th>
            <th>{{'nom'|trans}}</th>
            <th>{{'prenom'|trans}}</th>
            <th>{{'date de Naissance'|trans}}</th>
            <th>{{'telephone'|trans}}</th>
        </thead>
        <tbody>
            {# On boucle sur les utilisateurs #}
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}&nbsp&nbsp  </td>
                    <td>{{ user.email }}&nbsp  </td>
                    <td>
                        {# On boucle sur les rôles #}
                        {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                {{'Utilisateur'|trans}}
                            {% elseif role == "ROLE_ADMIN" %}
                                {{'Administrateur'|trans}}
                            {% endif %}
                        {% endfor %}&nbsp
                    </td>
                    <td>{{ user.nom }}&nbsp  </td>
                    <td>{{ user.prenom }}&nbsp  </td>
                    <td>{{ user.dateNaissance|date("d/m/Y") }}&nbsp  </td>
                    <td>{{ user.telephone }}&nbsp  </td>
                    <td><a href="{{ path('admin_modifier_utilisateur', {'id': user.id}) }}">Modifier</a></td>
                </tr>
                
            {% else %}
                <p>Aucun utilisateur inscrit</p>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}