{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{'Liste des utilisateurs' |trans}}</h1>
        <table class="table">
            <thead>
                <th scope="col">{{'ID'|trans}}</th>
                <th scope="col">{{'Email'|trans}}</th>
                <th scope="col">{{'Rôles'|trans}}</th>
                <th scope="col">{{'nom'|trans}}</th>
                <th scope="col">{{'prenom'|trans}}</th>
                <th scope="col">{{'date de Naissance'|trans}}</th>
                <th scope="col">{{'telephone'|trans}}</th>
            </thead>
            <tbody>
                {# On boucle sur les utilisateurs #}
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}  </td>
                        <td>{{ user.email }}  </td>
                        <td>
                            {# On boucle sur les rôles #}
                            {% for role in user.roles %}
                                {% if role == "ROLE_USER" %}
                                    {{'Utilisateur'|trans}}
                                {% elseif role == "ROLE_ADMIN" %}
                                    {{'Administrateur'|trans}}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ user.nom }}  </td>
                        <td>{{ user.prenom }}  </td>
                        <td>{{ user.dateNaissance|date("d/m/Y") }}  </td>
                        <td>{{ user.telephone }}  </td>
                        <td><a href="{{ path('admin_modifier_utilisateur', {'id': user.id}) }}">{{ 'Modifier' |trans }}</a></td>
                        {% if user.roles == ["ROLE_USER"] %} 
                            <td><a href="{{ path('admin_delete_utilisateur', {'id': user.id}) }}">{{ 'Supprimer' |trans }}</a></td>
                        {% else %} 
                            <td></td>
                        {% endif %}
                        
                    </tr>
                    
                {% else %}
                    <p>Aucun utilisateur inscrit</p>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <h1>{{'Liste Commentaire'|trans}}</h1>
        <table class="table">
            <thead>
                <th scope="col">{{'Nom'|trans}}</th>
                <th scope="col">{{'Type'|trans}}</th>
                <th scope="col">{{'Lieux'|trans}}</th>
                <th scope="col">{{'Date'|trans}}</th>
                <th scope="col">{{'Description'|trans}}</th>
            </thead>
            <tbody>
                {# On boucle sur les utilisateurs #}
                {% for event in events %}
                    <tr>
                        <td>{{ event.nom }}  </td>
                        <td>{{ event.type }}  </td>
                        <td>{{ event.lieux }}  </td>
                        <td>{{ event.date |date("d/m/Y")}}  </td>
                        <td>{{ event.description}}  </td> 
                        <td><a href="{{ path('deleteEvent', {'id': event.id}) }}">{{ 'Supprimer' |trans }}</a></td>
   
                    </tr>
                    
                {% else %}
                    <p>Aucun commentaire</p>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}