<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block title %}ActiviGo{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{{ 'Activigo' |trans }}</a>
                {% if is_granted('ROLE_USER') %}
                    <a class="navbar-brand" href="/creerEvent">{{ 'DEPOSER UNE OFFRE' |trans }}</a>
                {% endif %}
                <a class="navbar-brand" href="/event">{{ 'Activite' |trans }}</a>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('gererSesActivites', {'id': app.user.id}) }}" class="navbar-brand">{{ 'Gerer ses activites' |trans }}</a>
                {% endif %}
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="/admin" class="btn btn-default navbar-btn">{{ 'Mode administration' |trans }}</a>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('gererCompte', {'id': app.user.id}) }}" class="btn btn-default navbar-btn">{{ 'Profil' |trans }}</a>
                                <a href="/logout" class="btn btn-default navbar-btn">{{ 'Se déconnecter' |trans }}</a>
                            {% else %}
                                <a href="/register" class="btn btn-default navbar-btn">{{ 'S\'inscrire' |trans }}</a>
                                <a href="/login" class="btn btn-default navbar-btn">{{ 'S\'identifier' |trans }}</a>
                            {% endif %}
                            {% for locale in locales %}
                                {% if locale != app.request.locale %}
                                        <a class="nav-link" href="{{ path('change_locale', {'locale': locale}) }}"><img src="{{asset('Image/'~locale~'.png')}}" alt="{{locale}}"></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}
</div>

</html>
